<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/items" routerLinkActive="router-link-active">Items</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/categories" routerLinkActive="router-link-active">Categories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/orders" routerLinkActive="router-link-active">Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/customers" routerLinkActive="router-link-active">Customers</a>
      </li>
  </ul>